<!DOCTYPE html>
<html>
<head>
  <title>Blog - API</title>
</head>
<body>
  <script src="https://cdn.auth0.com/js/auth0/9.5.1/auth0.min.js"></script>
  <script>
    window.addEventListener('load', function() {

      var webAuth = new auth0.WebAuth({
        domain: 'dev-q0s6haqfs5kdxvxd.us.auth0.com',
        clientID: 'HTM7eqXSoQb4nXOoMyrZ5QwoLJ4MLd4F',
        responseType: 'token id_token',
        scope: 'openid profile email',
        redirectUri: 'https://jwt.io'
      }); 

      webAuth.authorize();
    });
  </script>
</body>
</html>
